database:
  postgis_extensions_dir: '/usr/local/share/postgis'
  development:
    db: 'denver_streets'
    user: 'denverstreetsuser'
    pass: 'abc123'

  test: 
    db: 'denver_streets_test'
    user: 'denverstreetsuser'
    pass: ''

